.menu-flap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 10px !important; /* Ajuste de la altura */
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 20px; /* Ajuste de la línea de altura */
  cursor: pointer;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  border-bottom-left-radius: 25px; /* Ajuste de los bordes redondeados */
  border-bottom-right-radius: 25px;
  font-weight: bold;
  user-select: none;
}

.navbar {
  border-radius: 0% 0% 70% 70%;
  position: fixed;
  top: -75px; /* Ajuste de la posición inicial */
 
 
  width: 100%; /* Ajuste del ancho a la mitad */
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 998;
 
  overflow: hidden;
  user-select: none;
}

.navbar.show-navbar {
  padding-top: 0px; /* Ajuste del espaciado superior */
  top: 0px;
  padding-bottom: 20px;
}

.nav-button {
  text-decoration: none;
  color: #fff;
  padding: 0px 0; /* Ajuste del espacio vertical */
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  user-select: none;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a2 {
  margin-top: 25px;
}
/* Resto de tu CSS */

.navbar {
 
  transition: top 4.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  animation: slide-down 4s cubic-bezier(0.8, -0.55, 0.27, 1.55); /* Agrega la animación */
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(50);
    opacity: 1;
  }
}



/* Resto de tu CSS */
