
<div class="main-section container slide-top col-12 col-xs-10 col-sm-10 col-md-11 col-lg-12">
 
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <section class="container fixed-content">
          <div class="title-logo-container">
            <img src="../../../assets/inicio.png" class="mercado-logo animate-logo">
          </div>
        </section>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="donacion-details">
          <div id="text-container"></div> <!-- Contenedor para el efecto de matriz -->
          <!-- Detalles de donación -->
        </div>
      </div>
    </div>
    
  </div>
